<template>
    <div class="col-md-8">
        <h1>Pagina Blog</h1>

        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet magnam aliquid porro ex quo error animi alias laborum sapiente? Rem!</p>
    </div>
</template>
<script>
    export default {
        mounted() {
            console.log('Component mounted blog.')
        },
    }
</script>
