<template>
         <div class="panel panel-default">
                <div class="panel-heading">¿En qué estás pensando ahora?</div>
                <div class="panel-body">
                        <ValidationObserver  v-slot="{ handleSubmit }">
                        <form action="" @submit.prevent="handleSubmit(onSubmit)">
                            <div class="forum-group">
                                <div class="col-md-12">
                                    <label for="thought">Modificado el 07/10/2021</label><br>   
                                    <label for="thought">Ahora estoy pensando en:</label>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="thought" v-model="description">
                                    </div>
                                    <div class="col-md-6">
                                            <ValidationProvider name="Fecha" rules="required" v-slot="{ errors }">
                                            <div class="form-group"  :class="{'has-error': errors.length}">
                                              <datepicker v-model="time2" value-type="format" input-class="form-control"  format="DD-MM-YYYY HH:mm"  ></datepicker>
                                              <br>
                                            <span class="has-error">{{ errors[0] }}</span>
                                          </div>
                                        </ValidationProvider>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">
                                Enviar pensamiento
                            </button>
                        </form>
                    </ValidationObserver>
                </div>
            </div>
</template>
<style scoped>
    .has-error{
        color:red;
    }
</style>
<script>
    export default {
        data(){
            return{
                'description':'',
                time2: '09-12-2019 09:28', 
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        computed: {
        },
        methods:{
             onSubmit () {
                alert('Form has been submitted!');
            },
            newthought() {  
                const params = {
                    description: this.description
                }
                this.description = '';
                
                axios.post('/thoughts', params)
                .then((response) => {
                    const thought = response.data;
                     this.$emit('new',thought);
                });
            },
        }
    }
</script>
