<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Hola</h1>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            
        },
    }
</script>
